.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    font-family: Arial, sans-serif;
    text-align: center;
    justify-content: space-around;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logo {
    margin: 1rem 0;
    width: 250px;
    height: auto;
}

.logoLight {
    filter: invert(0%) brightness(0%);
}

.logoDark {
    filter: invert(100%) brightness(100%);
}

.socialMediaIcons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.light .socialMediaIcons img {
    filter: invert(0%) brightness(0%);
    transition: filter 0.3s ease;
}

.socialMediaIcons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.socialMediaIcons img:hover {
    transform: scale(1.2);
}