.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    max-width: 400px;
  }
  
  label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    color: var(--text-color);
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: border-color 0.3s;
  }
  
  input:focus {
    outline: none;
    border-color: var(--link-hover-color);
  }
  
.send {
    padding: 10px 20px;
    background-color: var(--link-hover-color);
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send:hover {
    border: 2px solid var(--border-btn-color);
    
}

.error {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 10px;
    text-align: center;
}

.success {
    color: green;
    font-size: 1rem;
    text-align: center;
    background-color: #ffffff;
    padding: inherit;
    border-radius: 8px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--background-color);
  resize: none; /* Evita que el usuario cambie el tamaño del campo */
  transition: border-color 0.3s;
  font-family: Arial, sans-serif;
}

textarea:focus {
  outline: none;
  border-color: var(--link-hover-color);
}